// paramètres de style généraux
body{
  width: 100%;
}
div{
  padding: 0!important;
}
nav{
  display: flex;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  height: 60px;
}

header{
  background-image: url("/var/www/html/test-technique-SAMBOU-DIALLO/images/header@3x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  // height: 576px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    display: flex;
    align-self: center;
    text-align: center;
    color: #FFF;
    margin-bottom: 40px;
    font-size: 60px;
    font-family: 'Aleo';
    font-weight: bold;
  }
}

li{
  list-style: none;
  font-family: 'Aleo';
  font-size: 15px;
  margin: 0 10px;
  color: white;
}

li:hover{
  text-shadow: 0 0 5px #FFF;
  transition: 0.3s;
  cursor: pointer;
}

span{
  color: white;
  font-family: 'Roboto';
  font-size: 15px;
}

span:hover{
  text-shadow: 0 0 5px #FFF;
  transition: 0.3s;
  cursor: pointer;
}

#menuDesktop{
  display: flex;
  margin: 0;
}

#menuMobile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  padding: 0;
  background-color: #000000;
  opacity: 0.8;
  z-index: 1;
  li{
    font-size: 30px;
    margin: 10px 0;
  }
}

#logo{
  width: 124px;
  height: 18px;
}

#logoFacebook{
  width: 18px;
  height: 18px;
  cursor: pointer;
}

#menuBouton{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    display: flex;
    align-self: center;
    justify-content: center;
  }
  h3{
    padding: 0 !important;
  }
  article{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
  }
  section{
    display: flex;
    flex-wrap: wrap;
    .boutons{
      cursor: pointer;
    }
  }
}

// medias queries navbar menu
@media screen and (min-width: 769px) {
  #menuBouton{
    display: none;
  }
  #menuMobile{
    display: none;
  }
}

@media screen and (max-width: 769px) {
  #menuDesktop{
    display: none;
  }
  span{
    display: none;
  }
}
 //  medias queries header et main
 @media screen and (min-width:320px) and (max-width:767px) {
   header{
     width: 100%;
     height: 150px;
     h1{
       display: flex;
       align-self: flex-start;
       margin-top: 35px;
       font-size: 20px;
       width: 570px;
       height: 50px;
     }
   }
   main{
     h2{
       color: #000;
       margin-bottom: 0;
       font-size: 38px;
       font-family: 'Aleo';
       font-weight: bold;
       display: flex;
       align-self: flex-start;
     }
    img{
      width: 290px;
      height: 237px;
    }
    h3{
      color: #000;
      margin: 10px 0;
      font-size: 18px;
      font-family: 'Aleo';
      font-weight: bold;
    }
    p{
      font-family: 'Roboto';
      font-size: 13px;
    }
    .boutons{
      width: 18px;
      height: 18px;
    }
    .likes_com{
      display: flex;
      p{
        font-family: 'Roboto';
        color: rgba(0, 0, 0, 0.4);
        font-weight: bold;
        margin-left: 10px;
      }
    }
    article{
      margin-top: 40px;
    }
   }
 }

 @media screen and (min-width:768px) and (max-width:980px){
   header{
     height: 340px;
     h1{
       display: flex;
       align-self: flex-start;
       margin-top: 70px;
       width: 640px;
       height: 200px;
     }
   }
   main{
     h2{
       color: #000;
       margin-bottom: 0;
       font-size: 38px;
       font-family: 'Aleo';
       font-weight: bold;
       display: flex;
       align-self: flex-start;
     }
    img{
      width: 340px;
      height: 300px;
    }
    h3{
      color: #000;
      margin: 10px 0;
      font-size: 18px;
      font-family: 'Aleo';
      font-weight: bold;
    }
    p{
      font-family: 'Roboto';
      font-size: 13px;
    }
    .boutons{
      width: 18px;
      height: 18px;
    }
    .likes_com{
      display: flex;
      p{
        font-family: 'Roboto';
        color: rgba(0, 0, 0, 0.4);
        font-weight: bold;
        margin-left: 10px;
      }
    }
    article{
      margin-top: 40px;
    }
   }
 }

 @media screen and (min-width: 981px) and (max-width:1280px){
   header{
     height: 576px;
     h1{
       display: flex;
       width: 710px;
       height: 200px;
     }
   }
   main{
     h2{
       color: #000;
       margin: 0;
       font-size: 38px;
       font-family: 'Aleo';
       font-weight: bold;
       display: flex;
       align-self: flex-start;
     }
    img{
      width: 390px;
      height: 345px;
    }
    h3{
      color: #000;
      margin: 10px 0;
      font-size: 18px;
      font-family: 'Aleo';
      font-weight: bold;
    }
    p{
      font-family: 'Roboto';
      font-size: 13px;
    }
    .boutons{
      width: 18px;
      height: 18px;
    }
    .likes_com{
      display: flex;
      p{
        font-family: 'Roboto';
        color: rgba(0, 0, 0, 0.4);
        font-weight: bold;
        margin-left: 10px;
      }
    }
    article{
      margin-top: 40px;
    }
   }
 }
